server:
  port: 9999
spring:
  application:
    name: winter-cloud-auth
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848  # Nacos 服务器地址
        namespace: ccfca4f0-0131-497a-95a1-3732131d59a8  # 命名空间（可选，用于环境隔离）
        group: DEFAULT_GROUP  # 分组（可选）
        username: nacos  # Nacos 用户名（如果开启了认证）
        password: nacos  # Nacos 密码（如果开启了认证）
  redis:
    host: localhost
    port: 6379
    password: redis
    database: 0
    timeout: 3000ms
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0
        max-wait: -1ms
  datasource:
    dynamic:
      primary: winter-cloud-auth
      datasource:
        winter-cloud-auth:
          url: jdbc:postgresql://127.0.0.1:5432/winter-cloud-auth
          username: pgvector
          password: pgvector
          driver-class-name: org.postgresql.Driver
          type: com.alibaba.druid.pool.DruidDataSource
          druid:
            initial-size: 8
            min-idle: 5
            max-active: 8
            max-wait: 60000
            time-between-eviction-runs-millis: 60000
            min-evictable-idle-time-millis: 300000
            validation-query: SELECT 1
            test-while-idle: true
            test-on-borrow: true
            test-on-return: false
            pool-prepared-statements: true
            max-pool-prepared-statement-per-connection-size: 20
            filters: stat,wall
            connection-properties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
        winter-cloud-dict:
          url: jdbc:mysql://127.0.0.1:3306/winter-cloud-dict?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf8&allowPublicKeyRetrieval=true&useSSL=false
          username: root
          password: root
          driver-class-name: com.mysql.cj.jdbc.Driver
          type: com.alibaba.druid.pool.DruidDataSource
          druid:
            initial-size: 8
            min-idle: 5
            max-active: 8
            max-wait: 30000
            time-between-eviction-runs-millis: 60000
            min-evictable-idle-time-millis: 300000
            validation-query: SELECT 1
            test-while-idle: true
            test-on-borrow: true
            test-on-return: false
            pool-prepared-statements: true
            max-pool-prepared-statement-per-connection-size: 20
            filters: stat,wall
            connection-properties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000


# Dubbo 配置
dubbo:
  application:
    name: winter-cloud-auth-dubbo
    qos-enable: true
    qos-port: 22222
    qos-accept-foreign-ip: false
  registry:
    address: nacos://localhost:8848
    parameters:
      namespace: ccfca4f0-0131-497a-95a1-3732131d59a8
      group: DEFAULT_GROUP
      username: nacos
      password: nacos
  protocol:
    name: dubbo
    port: 20880  # Dubbo 协议端口
  provider:
    timeout: 3000


# MyBatis-Plus 配置
mybatis-plus:
  #，如果在 Mapper 中有自定义方法，需要配置此项 mapper-locations 用来告诉 MyBatis-Plus 到哪里加载 Mapper XML 文件
  mapper-locations: classpath:mapper/**/*.xml
  # 指定 MyBatis 别名包扫描路径，用于给包中的类注册别名。注册后，在 Mapper 对应的 XML 文件中可以直接使用类名，无需使用全限定类名
  type-aliases-package: com.winter.cloud.auth.infrastructure.entity
  # 原生 MyBatis 所支持的配置
  configuration:
    # 开启自动驼峰命名规则（camel case）映射，即从经典数据库列名 A_COLUMN（下划线命名） 到经典 Java 属性名 aColumn（驼峰命名） 的类似映射
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
  # MyBatis-Plus 提供的全局策略配置
  global-config:
    # MyBatis-Plus 全局策略中的 DB 策略配置
    db-config:
      # 全局的 Entity 逻辑删除字段属性名，仅在逻辑删除功能打开时有效。
      logic-delete-field: delFlag
      # 逻辑已删除值
      logic-delete-value: 1
      # 逻辑未删除值
      logic-not-delete-value: 0
    banner: false
winter-redis-config:
  # 系统名称，用于动态配置中心的命名空间隔离
  system: ${spring.application.name}

  # Redisson 连接配置
  redission:
    host: ${spring.redis.host}
    port: ${spring.redis.port}
    database: ${spring.redis.database}
    password: ${spring.redis.password}
    pool-size: 64            # 连接池大小
    min-idle-size: 10        # 最小空闲连接数
    idle-timeout: 10000      # 空闲连接超时时间（毫秒）
    connect-timeout: 10000   # 连接超时时间（毫秒）
    retry-attempts: 3        # 重试次数
    retry-interval: 1500     # 重试间隔时间（毫秒）
    ping-interval: 30000     # Ping 连接间隔时间（毫秒）
    keep-alive: true         # 是否保持连接
winter-crypto:
  aes:
    key: 346a3f9f4c1988cb7a507cc177923ac7
    iv: 1234567887654321
    auto-adjust-iv: true
  des:
    key: 12345678
    iv: 87654321
    auto-adjust-iv: true
  # RSA配置
  rsa:
    private-key: "MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQD5h8hFPBgYCJaF/nN1uHwWhJG8jYJrHyx3yy0tb0Gnt3K+MWCmU8pnG5yhgiA3eIYdRIFA11oKH69lhxznWn+goT0upFhO/cfJiGRSqIoyrM3zhghV3XVa0wNi1MJpcK+2oSltjQwacYDHmgWcx1yD20Tfiv5IeFKaHYTOrtc1011A9lVdx5A3vw57DJl91l9jpeBR362cpUx3+vibtnRc9owNrIOdvyAJUgzkvDiF6b5WWrQus3RXdiBCQ+2e/c7dvUfJF3KOIbVlbIVy4JXzERjRsrmjJTMDGdeCDoZTZE/RDC49BS4wuo10u23buNg7VCowVdKxSEnhJe50Q+5BAgMBAAECggEANEq2N3weeHrkQHRQce0VZAqoF+F34UcJJJmZgBn+ok0ZaK4kWPbaRb1Nl7MTWUySnnOKurHmlpSJRzeHYRxf/qOLlMiwEO2x/pPsoj3bqD76cfw2pvff7gamgQGhNEN/L0Ca0/BpBumeWTX30yEcTC2ZQ1d3bmx4sv9Yo4+UXhzhUU95jPbVm2QBLN+eORN0slxTHF68LLB8dL1vemsM8IJAfLGkYHJkAYaqGY6JNhCgz2M6xKnlfqvlKAJQ2nDvbsMQG1l6tagPnX+Qhbly+I2KlUsptnAbilFfeaCYtdgCMPrcnIvyF4yrLa864QevdDULQyjuh+aqdPO8YQwPmQKBgQD9I1bVOupQrW9xUmVZEhuj3p2WjK05n3r4UUTBtsGFkmUD/mBUquOT3n8UCTIGj5l/elve7pFzgdO74ZU2DY7QFaCTlvTGH93tii48Q+Li1KXGwdJcVxYA+7YQn1hEq53AkaBT7+pTE0/YrbZBig7rw5ONQaBAGB8kmcg2C1C1LwKBgQD8WgBf4Yr/mfA95IdIT6nsbyFQDsC9Xb6uRVIKKVFmBSZogOL1wodchnuFUtK6K9AZR/TzcvhSUUPtrkV/X5gxE+SB0r6KABa5GhMwqq+MYpglm+dkPROFMSnPjZnXz1pymTVlB7eH4O9Ve9tMJqtxclZptM9pzHj9/jg6ubCXjwKBgEiFz2LXtjnW9o6o5JBYN8MDDHMNarOPlVN/NQuqqFb0UiyKvF6Fdx3uKMo8uDBZA8kZ7Sg5gUJud5LkVjNePwQurgqavRXmG1bqt8RcTqxd8AC5luMNsCgn9Uld3ZQO9usszZo+qguTBNU3L3gnbY7uQV++5YJ3ZrS9ujaBl2XRAoGAD+ImVeKfWhk5Wtvwe+evvVb9VMmo7gJhhxyL3mHdYrt+QGOkZW2aEYPRcIHXC6rITV8PFueso5nD2cj3TN4aeTRUVKuMHKmGxJ3UiWKk7AQkqXFXriJ+AQsoI405GrFNcxsblkFXFvFcfxftpKxmbByTPdIIoBMjpnEC3wdjCxcCgYEA4yRNes5Of3DISNnLwvkUX3keHwCMfdMupQmp6lxUDvNATKRRydCsTR8mOJ2I/qfUrvsiPziBsBhQxP8dX9XI/dpaFpuGJoO4j3LOG2C+Ty+RjUyfZcf2gYKoYYxj7fJrLXurabAEpkRf58WCVhmt7V/bxB+U0/7k8CmHQCqO4bk="
    public-key: "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA+YfIRTwYGAiWhf5zdbh8FoSRvI2Cax8sd8stLW9Bp7dyvjFgplPKZxucoYIgN3iGHUSBQNdaCh+vZYcc51p/oKE9LqRYTv3HyYhkUqiKMqzN84YIVd11WtMDYtTCaXCvtqEpbY0MGnGAx5oFnMdcg9tE34r+SHhSmh2Ezq7XNdNdQPZVXceQN78OewyZfdZfY6XgUd+tnKVMd/r4m7Z0XPaMDayDnb8gCVIM5Lw4hem+Vlq0LrN0V3YgQkPtnv3O3b1HyRdyjiG1ZWyFcuCV8xEY0bK5oyUzAxnXgg6GU2RP0QwuPQUuMLqNdLtt27jYO1QqMFXSsUhJ4SXudEPuQQIDAQAB"
  is-print: true
logging:
  file:
    path: ./logs/winter
  level:
    com.winter.cloud.auth: debug
    com.zsq.winter.security: debug
    com.baomidou.dynamic: debug  # 动态数据源日志
winter:
  security:
    authorization-header: "Authorization"
    user-id-header: "X-User-Id"
    user-name-header: "X-Username"
    roles-header: "X-User-Roles"
    permissions-header: "X-User-Permissions"
    bearerPrefix: "Bearer "
    gateway-role-and-permission-separator: ","

xxl:
  job:
    admin:
      # 调度中心部署根地址 [选填]：如调度中心集群部署存在多个地址则用逗号分隔。执行器将会使用该地址进行"执行器心跳注册"和"任务结果回调"；为空则关闭自动注册；
      addresses: http://127.0.0.1:7379/xxl-job-admin
      # 执行器通讯TOKEN [选填]：非空时启用；
      accessToken:
      # 调度中心通讯超时时间[选填]，单位秒；默认3s；
      timeout: 3
    executor:
      # 执行器启用开关 [选填]：默认开启，关闭时不进行执行器初始化；
      enabled: true
      # 执行器AppName [选填]：执行器心跳注册分组依据；为空则关闭自动注册
      appname: ${spring.application.name}
      # 执行器注册 [选填]：优先使用该配置作为注册地址，为空时使用内嵌服务 ”IP:PORT“ 作为注册地址。从而更灵活的支持容器类型执行器动态IP和动态映射端口问题
      address:
      # 执行器IP [选填]：默认为空表示自动获取IP，多网卡时可手动设置指定IP，该IP不会绑定Host仅作为通讯使用；地址信息用于 "执行器注册" 和 "调度中心请求并触发任务"；
      ip:
      # 执行器端口号 [选填]：小于等于0则自动获取；默认端口为9999，单机部署多个执行器时，注意要配置不同执行器端口；
      port: 9958
      # 执行器运行日志文件存储磁盘路径 [选填] ：需要对该路径拥有读写权限；为空则使用默认路径；
      logpath: ${logging.file.path:./logs}/${spring.application.name}
      # 执行器日志文件保存天数 [选填] ： 过期日志自动清理, 限制值大于等于3时生效; 否则, 如-1, 关闭自动清理功能；
      logretentiondays: 30
      #任务扫描排除路径 [选填] ：任务扫描时忽略指定包路径下的Bean；支持配置包路径前缀，多个逗号分隔；
      excludedpackage:
