<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.cloud.auth.infrastructure.mapper.AuthRoleMapper">

    <select id="selectRoleIdListByUserId" resultType="com.winter.cloud.auth.infrastructure.entity.AuthRolePO">
        select sr.id, sr.role_key,sr.role_name,sr.role_sort,sr.status,sr.remark
        from sys_role sr
        left join sys_user_role sur on sr.id = sur.role_id
        <where>
            sur.user_id = #{userId}
            <if test="status != null and status != ''">
                and sr.status = #{status}
            </if>
        </where>
    </select>

    <select id="selectRolePage" resultType="com.winter.cloud.auth.infrastructure.entity.AuthRolePO">
        SELECT id,
        role_name,
        role_key,
        role_sort,
        status,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
        FROM sys_role
        <where>
            <!-- 模糊查询：roleName 或 roleKey -->
            <!--    之前设计的是角色名称/标识是“或”的关系，状态是“且”的关系，排序可选，默认按创建时间倒序 不太合理-->
               <!--            <if test="(query.roleName != null and query.roleName != '')or(query.roleKey != null and query.roleKey != '')">-->
<!--                <trim prefix="(" suffix=")" prefixOverrides="OR">-->
<!--                    <if test="query.roleName != null and query.roleName != ''">-->
<!--                        role_name LIKE CONCAT('%', #{query.roleName}, '%')-->
<!--                    </if>-->
<!--                    <if test="query.roleKey != null and query.roleKey != ''">-->
<!--                        OR role_key LIKE CONCAT('%', #{query.roleKey}, '%')-->
<!--                    </if>-->
<!--                </trim>-->
<!--            </if>-->
            <if test="query.roleName != null and query.roleName != ''">
                AND role_name LIKE CONCAT('%', #{query.roleName}, '%')
            </if>
            <if test="query.roleKey != null and query.roleKey != ''">
                AND role_key LIKE CONCAT('%', #{query.roleKey}, '%')
            </if>
            <!-- 精确匹配：status -->
            <if test="query.status != null and query.status != ''">
                AND status = #{query.status}
            </if>
        </where>
        <if test="query.orders != null and query.orders.size() > 0">
            ORDER BY
            <foreach collection="query.orders" item="item" separator=",">
                ${item.field} ${item.order}
            </foreach>
        </if>
        <if test="query.orders == null or query.orders.size() == 0">
            ORDER BY create_time DESC
        </if>
    </select>
</mapper>