<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.cloud.auth.infrastructure.mapper.AuthUserMapper">
    <select id="getRoleKeyList" resultType="java.lang.String">
        select sr.role_key
        from sys_role sr
                 inner join sys_user_role sur on sr.id = sur.role_id
        where sr.status = '1'
          and sur.user_id = #{userId};
    </select>

    <select id="selectUserPage" resultType="com.winter.cloud.auth.infrastructure.entity.AuthUserPO">
        SELECT u.*
        FROM sys_user u
        <where>
            u.del_flag = '0'

            <if test="query.username != null and query.username != ''">
                AND u.username LIKE CONCAT('%', #{query.username}, '%')
            </if>
            <if test="query.roleIds != null and query.roleIds.size() > 0">
<!--                MyBatis 的 #{} 只能引用：传入参数或 <bind> 声明的变量 ， #{roleSize}不是传入的参数，所以需要使用bind处理-->
                <bind name="roleSize" value="query.roleIds.size()"/>
                <!--                GROUP BY + HAVING COUNT = roleSize必须同时拥有所有角色（交集）-->
                <!--                去除GROUP BY + HAVING COUNT = roleSize,查询时在加上distinct拥有任意一个角色即可（并集）-->
                AND u.id IN (
                SELECT user_id
                FROM sys_user_role
                WHERE role_id IN
                <foreach collection="query.roleIds" item="roleId" open="(" separator="," close=")">
                    #{roleId}
                </foreach>
                GROUP BY user_id
                HAVING COUNT(DISTINCT role_id) = #{roleSize}
                )
            </if>

            <if test="query.deptIds != null and query.deptIds.size() > 0">
                <bind name="deptSize" value="query.deptIds.size()"/>
                AND u.id IN (
                SELECT user_id
                FROM sys_user_dept
                WHERE dept_id IN
                <foreach collection="query.deptIds" item="deptId" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
                GROUP BY user_id
                HAVING COUNT(DISTINCT dept_id) = #{deptSize}
                )
            </if>
        </where>
        ORDER BY u.create_time DESC
    </select>
</mapper>